body {
    display: block;
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 62.5%;
    margin-top: 20vh;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin:0;
}
#title_1 {
    color: white;
    font-size: 6rem;
    font-style: bold;
}

#title_2 {
    color: red;
}

h2 {
    font-size: 1.2rem;
    margin: 0;
}

#year {
    margin: 2rem;
    font-size: 2rem;
}